<!DOCTYPE html>
<html>
<head>
<title>Furby</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/styles.css" rel="stylesheet" type="text/css" media="all">
<link rel='icon' href='/static/images/favicon.ico' type='image/x-icon'/ >
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>

</head>
<body id="top">
  <div id="topnav">
    <a href='/logout' style="text-decoration:none;"><input type="button" value="Log Out" class="btn btn-primary btn-large btn-block" id="logout"></a>
    <a href='/friends' style="text-decoration:none;"><input type="button" value="Friends" class="btn btn-primary btn-large btn-block" id="friends"></a>
  </div>
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <h1 id="header">Furby</h1>
            <!-- <h3 class="heading">Find A Movie</h3> -->
            <p>Search your movies!</p>
            <footer id="search">
              <form class="group" method="post" action="friends">
                <fieldset>
                  <legend>Search:</legend>
                  <input type="text" value="" placeholder="Search Here&hellip;" name="search_bar"style="margin-bottom:5px;">
                  <button class="fa fa-sign-in" type="submit" title="Submit"><em>Submit</em></button>
                </fieldset>
              </form>
              <form method=post enctype=multipart/form-data action="upload">
                <label class="fileContainer">
                  <div id="fileupload" style="margin-top:5px; margin-bottom:5px; width:49%;float:left;">
                    <p id="file" style="font-style:normal; margin-top:5px; margin-bottom:5px;">Choose File</p>
                  </div>
                  <input id=openfile type="file" name="file"/>
                </label>
                <input type=submit value=Upload style="margin-top:5px; margin-bottom:5px;width:49%;float:right;">
              </form>
              <form enctype=multipart/form-data action="download">
                <input type=submit value=Download style="margin-top:5px; margin-bottom:5px; width:100%;">
              </form>
            </footer>
          </article>
          <div class="wrapper">
            <div class="profile">
              <table id="userdata" border="2">
                <thead>
                  <tr>
                    <th class="poster">Cover</th>
                    <th class="title">Title</th>
                    <th class="release_date">Release Date</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
<script src="static/layout/scripts/jquery.backtotop.js"></script>
<script src="static/layout/scripts/jquery.mobilemenu.js"></script>
<script src="static/layout/scripts/jquery.flexslider-min.js"></script>
<script>
  function search() {
    // var table = document.getElementById('userdata');
    // for (var i = table.rows.length - 1; i > 0; i--) {
    //   table.deleteRow(i);
    // }
    $.getJSON('static/movies.json', function(data) {
      $.each(data.movie, function(i, f) {
        var url = "https://image.tmdb.org/t/p/w92/" + f.poster_path;
        var tblRow = "<tr>" + "<td class = 'poster'>" + "<img id = 'url_img' >" + "</td>" + "<td class = 'title'>" + "<b>" + f.title + "</b>" + '\n\n' + f.overview + '\n\n' + "</td>" + "<td class = 'release_date'>" + f.release_date + "</td>" + "</tr>"
        $(tblRow).appendTo("#userdata tbody");
        document.getElementById('url_img').src = url;
        document.getElementById('url_img').id = url;
      });
    });
  }

  $(function(){
    search();
  });

  $(function(){
    search();
    $('.group[action="search"]').submit(function(){
      search();
    });
  });
</script>
</body>
</html>
